<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero!!!!11!1!!!
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<h2>My Heroes</h2>
<div>
  <label>Hero name:</label> <input #heroName /><br>
  <label>Image URL:</label> <input #heroImage /><br>
  <button (click)="add(heroName.value, heroImage.value); heroName.value=''; heroImage.value=''">
    Add
  </button>
</div>
<ul class="heroes">
  <!-- *ngFor is a specific type of directive called a structural directive, so is *ngIf -->
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" 
  (click)="onSelect(hero)">
      
    <!-- each hero goes here -->
      <span class="badge">{{hero.id}}</span> <span>{{hero.name}}</span>
      <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
    
  </li>
</ul>